<mat-card fxLayout="column">

  <mat-card-header>
    <mat-card-title>Manage nodes</mat-card-title>
  </mat-card-header>

  <mat-divider [inset]="true"></mat-divider>

  <mat-card-content fxFlex fxLayout="column">

    <mat-form-field class="full-width">
      <input matInput (keyup)="tableFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <div fxFlex style="overflow: auto;">

      <table mat-table [dataSource]="nodes" matSort class="full-width">

        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? tableSelection.toggle(row) : null"
                          [checked]="tableSelection.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="ip_address">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>IP address</th>
          <td mat-cell *matCellDef="let element"> {{element.ip_address}} </td>
        </ng-container>

        <ng-container matColumnDef="port_number">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Port number</th>
          <td mat-cell *matCellDef="let element"> {{element.port_number}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>

    </div>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

  </mat-card-content>
  <mat-card-actions>

    <div class="center-align">
      <button mat-raised-button color="primary" (click)="persistNode(true)">Add new</button>
      <button mat-raised-button color="primary" [disabled]="tableSelection.isEmpty()" class="margins"
              (click)="persistNode(false)">Edit
      </button>
      <button mat-raised-button color="primary" [disabled]="tableSelection.isEmpty()"
              (click)="deleteNode()">Delete
      </button>
      <button mat-raised-button color="primary" [disabled]="tableSelection.isEmpty()" (click)="pingNode()">Ping</button>
    </div>

  </mat-card-actions>
</mat-card>
