<mat-card>

  <mat-card-header>
    <mat-card-title>Change password</mat-card-title>
  </mat-card-header>

  <mat-divider [inset]="true"></mat-divider>

  <mat-card-content>

    <form #form1 [formGroup]="passwordForm" (ngSubmit)="changePassword(form1)">
      <div fxLayout="column" fxLayoutAlign="start start">

        <mat-form-field class="input-width">
          <input type="password" matInput placeholder="Old password *:" formControlName="old_password">
        </mat-form-field>

        <mat-form-field class="input-width">
          <input type="password" matInput placeholder="New password *:" formControlName="new_password1">
        </mat-form-field>

        <mat-form-field class="input-width">
          <input type="password" matInput placeholder="Repeat new password *:" formControlName="new_password2">
        </mat-form-field>

        <div style="text-align: center;" class="input-width" fxFlexOffset="30px">
          <button type="submit" mat-raised-button color="primary" [disabled]="passwordForm.invalid">Submit</button>
        </div>

      </div>
    </form>

  </mat-card-content>
</mat-card>